* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #000000;
}

/* Navbar */
header {
    background-color: #ffffff;
    padding: 10px 0;
    color: black;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar li {
    margin: 0 40px;
}

.navbar a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ff6347;
}

/* Secciones del contenido */
/* main {
    
} */

section {
    height: 550px;
    
    background-color: #fff;
    width: 100%;
    box-shadow: none;
}

section h1, section h2 {
    color: #333;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 40px 600px;
}
img{
    height: 100%;
}
#inicio{
    display: flex;
    height: 80vh;
}
.inicioBoxImg{
    width: 42%;
    
}
.inicioBoxImgcentro{
    width: 16%;
    background-color: #f1c50e;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.inicioBoxImgcentro h2{
    font-size: 6rem;
}
.inicioBoxImgcentro h1{
    font-size: 3.5rem;
}
.cereza{
    background-image: url("./img/cereza.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.copa{
    background-image: url("./img/copa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#servicios{
    background-color: #db545a;
    display: flex;
    justify-content: space-between;
    padding: 0 300px;
}
#servicios .box{
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}
#servicios .boxsercr{
    background-color: #f1c50e;
    font-weight: bold;
    font-size: 1.2rem;
}
#servicios .boxsercf{
    padding-top: 300px;
    font-weight: bold;
    font-size: 3rem;
    color: white;
}
#acerca-de{
    background-image: url("./img/licores.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    display: flex;
    align-items: center;
    padding: 400px;
}
#acerca-de .acerca-de-contend{
    color: white;
    height: 400px;
    width: 330px;
    padding: 45px;
    display: flex;
    background-color: #000000bd;
    border: orange 9px solid;
    text-align: center;
    font-size: 1.1rem;
}
#contacto{
    background-color: #db545a;
    display: flex;
    justify-content: space-between;
    padding: 0 300px;
}
#contacto .box{
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;

}
#contacto .boxsercr{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#contacto .boxsercr,#contacto .boxsercr h1 {
    background-color: #f1c50e;
    font-weight: bold;
    color: white;
}